
.flex__centring{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-centring{
  text-align: center;
}
.text-bold{
  font-weight: bold;
}
.header__line{
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: rgb(56, 53, 53);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.toMain__img{
  width: 45px;
  margin-left: 50px;
}
.search__bar{
  margin-right: 15px;
  width: 250px;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 10px 17px;
  border: 2px solid rgb(255, 255, 255);
  transition: border-color 0.15s ease-in-out;
  font-weight: bold;
  font-size: 15px;
}
.search__bar:focus{
  border: 2px solid black;
  outline: none;
  box-shadow: none;
}
.search__btn{
  font-weight: 500;
  background: rgb(252, 229, 159);
  color: black;
  padding: 9px;
  border-radius: 10px;
  opacity: 70%;
  cursor: pointer;
}
.search__btn:hover{
  opacity: 90%;
}
.search__block{
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.forecast__block{
  width: 1200px;
  height: 550px;
  background-color: white;
  border: 2.4px solid #d0d7de;
  border-radius: 6px;
  margin-top: 120px;
  margin-bottom: 50px;
  flex-direction: column;
  justify-content: space-evenly;
}
.forecast{
  height: 400px;
  width: 1100px;
  display: flex;
  flex-direction: row;
}
.forecast__rightMenu{
  padding: 50px 30px;
  border: 2.4px solid #d0d7de;
  border-radius: 6px;
}
table{
  border-collapse: collapse;
}
td{
  padding: 5px 20px;
  text-align: left;
  align-self: center;
}
.forecast__leftMenu{
  width: 250px;
  border: 2.4px solid #d0d7de;
  border-radius: 6px;
  margin-right: 20px;
}
.leftMenu__dayInfo{
  flex-direction: column;
  padding: 15px;
  border-bottom: 2.4px solid #d0d7de;
}
.leftMenu__astroInfo{
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 20px;  
}
.p_font{
  font-size: 14px
}